body{
    height: 200vh;
    width: 200vh;
    text-align: center;
}
.container{
    background-color: rgb(199, 49, 49);
    color: black;
    font-size: 10px;
    height: auto;
    width: 152.5vh;
    display: flex;
    margin: 0;
     flex-direction:column ;
     border-radius: 30px;
}

.etch{
   
    margin:1px;
    border: 2px solid black;
    height :auto;
    width: auto;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    
   
}

#black{
    height: 30px;
    background-color: black;
    color: white;
    width: 60px;

}
#hue{
height:30px;
background-color: blueviolet;
color: white;
width: 60px;
}
#eraser{
    height: 30px;
    width: 60px;
    background-color: white;

}
#left{
    height: 50px;
    border-radius: 50%;
    width: 50px;
    
}
 
#right{
  height: 50px; 
  border-radius: 50%; 
  width: 50px;
}

#up{
    height: 50px;
    border-radius: 50%;
    width: 50px;
}

#down{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#reset{
    height: 50px;
    border-radius: 50%;
    width: 50px;
}
.controls{
    height: 10vh;
    border: 1px solid springgreen;
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    padding-top: 2vh;
}

h2{
    width: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    

}
.partA{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4vh;
    margin-right: 4vh;
}
.partAControls{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    width:auto;
}
/*nav a.selected, nav :hover
nav a, nav a:visited 